/*
*
* Sanitize
*
*/
@import url(~sanitize.css);

/*
*
*  Theme
*
*/
$black: #282c34;


/*
*
*  Global
*
*/
* {
  box-sizing: border-box;
}
body, html {
  min-height: 100vh;
}
body {
  display: grid;
  padding: 0.5rem;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
}
.pushable {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
}
.cbp-spmenu-push-toright {
  left: 240px;
}
/*
*
*  Menu
*
*/

.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}


.cbp-spmenu,
.cbp-spmenu-push-toright,{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

}

/*
*
*  Clock
*
*/

.clock {
  display: grid;
  text-align: center;
  background: $black;

  p {
    color: white;
  }
  .greet {
    color: white;
    margin: 0;
    & span {
      text-transform: capitalize;
    }
  }
  .evening {
    color: purple;
  }
  .afternoon {
    color: yellow;
  }
  .morning {
    color: turquoise;
  }
}