/*
*
* Sanitize
*
*/
@import url(~sanitize.css);

/*
*
*  Theme
*
*/
$black: #282c34;


/*
*
*  Global
*
*/
* {
  box-sizing: border-box;
}
body, html {
  min-height: 100vh;
}
body {
  display: grid;
  padding: 0.5rem;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
}


/*
*
*  Clock
*
*/

.clock {
  display: grid;
  text-align: center;
  background: $black;

  p {
    color: white;
  }
  .greet {
    color: white;
    margin: 0;
    & span {
      text-transform: capitalize;
    }
  }
  .evening {
    color: purple;
  }
  .afternoon {
    color: yellow;
  }
  .morning {
    color: turquoise;
  }
}